.profile {
  width: 100%;
  margin: 0 auto 50px auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 30px;
  justify-content: start;
  align-items: center;
}
